@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../../sass/mediaQueries' as *;

nav{
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin-top: 2rem;

    .nav-links{
        @include fuentes('Nunito', 1.2rem, 1.5, uppercase);
        list-style: none;
        padding: 0;
        display: flex;
        gap: 0.8rem;

        li{
            transition: transform 0.5s ease-in-out;

            &:hover{
                transform: scale(1.1);
            }

            a{
                color:$blanco;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.2rem;
                text-transform: uppercase;
                letter-spacing:0.1em;
                transition: color 0.3s ease-in-out;

                &:hover{
                    color: $dorado;
                }
            }
        }
    }

    
// Media Query para pantallas medianas (tablets)
  @media (max-width: 768px) {
    top: 0.5rem;
    right: 0.5rem;
    margin-top: 1rem;

    .nav-links {
      flex-direction: row;  
      gap: 1rem;  
      justify-content: center;  
    }

    .nav-links li {
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  

  // Media Query para pantallas peque침as (m칩viles)
  @media (max-width: 480px) {
    top: 0.5rem;
    right: 0.5rem;
    left: 0.5rem;
    margin-top: 1rem;

    .nav-links {
      flex-direction: row;  //  la navegaci칩n ser치 vertical
      gap: 0.8rem;
      justify-content: center;
    }

    .nav-links li {
      &:hover {
        transform: scale(1.05); 
      }

      a {
        font-size: 1rem; 
      }
    }
  }
}

