@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.reseña{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;

    img{
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        @include box-shadow(#5f5f5f, 0px, 0px, 10px, 0px);
        transition: transform 0.3s;

        &:hover{
            transform: scale(1.1);
        }
    }
    .textoConEstrellas{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 60%;
        align-items: center;
        text-align: center;

        p{
            @include fuentes('QuickSand', 1.2rem, 1.5);
            text-align: center;
            margin-bottom: 10px;
        }

        .estrellas{
            display: flex;
            gap: 5px;
            margin-top: 10px;
    
            i{
                color: $dorado;
                font-size: 24px;
                transition: transform 0.3s ease;

                &:hover{
                    transform: scale(1.1);
                    color: $verde;
                }
            }
        }
    }
 
}

@media (max-width: 768px) {
    .reseña {
        flex-direction: column;  // Cambia de fila a columna en pantallas pequeñas
        align-items: center; // Centra los elementos
        gap: 20px; // Reduce el espacio entre los elementos
        padding: 15px; // Ajusta el padding para dispositivos pequeños
    }

    .reseña img {
        max-width: 80%; // Limita el tamaño de la imagen en pantallas pequeñas
        height: auto; // Asegura que la imagen se ajuste proporcionalmente
        border-radius: 8px; // Un borde ligeramente más pequeño
    }

    .textoConEstrellas {
        max-width: 100%; // Asegura que el texto ocupe el 100% en pantallas pequeñas
        text-align: center; // Centra el texto
    }

    .estrellas {
        margin-top: 15px; // Da un poco más de espacio entre el texto y las estrellas
        justify-content: center; // Centra las estrellas horizontalmente
    }
}