@charset "UTF-8";
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "QuickSand";
  src: url("../fonts/Quicksand/static/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}

.main {
  padding: 2rem;
}
.main .nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main h3 {
  font-family: "Merriweather";
  font-size: 2rem;
  line-height: 1.5;
  text-transform: uppercase;
  margin-top: 0.6rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  gap: 10px;
}
.main h3 .imgNosotros {
  width: 40px;
  height: 40px;
}
.main p {
  font-family: "QuickSand";
  font-size: 1.1rem;
  line-height: 1.5;
  text-transform: none;
  margin-bottom: 1rem;
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
}
.main .galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}
.main .galeria h3 {
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 1rem;
}
.main .galeria .imagen-oculta {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out, filter 1.5s ease-out;
}
.main .galeria .imagen-oculta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out, opacity 0.3s;
}
.main .galeria .imagen-oculta:hover img {
  transform: scale(1.05);
  opacity: 0.8;
}
.main .galeria .paricionImg {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}
.main .galeria .imagen-oculta:nth-child(6) {
  grid-column: span 2;
}
.main .galeria .imagen-oculta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  box-shadow: #5f5f5f 0px 0px 10px 0px;
}
.main .map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.main .map h3 {
  font-family: "Merriweather";
  font-size: 2rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 1rem;
  color: black;
}
.main .map iframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border: 0;
  box-shadow: #5f5f5f 0px 0px 10px 0px;
}
.main .lineaHorizontal {
  width: 100%;
  height: 5px;
  background-color: #a7c796;
  border: #a7c796;
}
@media (max-width: 768px) {
  .main .galeria {
    padding: 0.5rem;
    margin: 0;
  }
  .main .galeria .imagen-oculta {
    height: 250px;
    margin: 0;
    padding: 0;
  }
  .main .galeria img {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 480px) {
  .main {
    padding: 0.5rem;
  }
  .main h3 {
    font-size: 1.4rem;
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
  }
  .main p {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .main .galeria .imagen-oculta {
    height: 200px;
  }
  .main .map iframe {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .reseña {
    flex-direction: column; /* Apila los elementos en columna en pantallas pequeñas */
    text-align: center; /* Centra el texto cuando los elementos están apilados */
  }
  img {
    max-width: 100%; /* La imagen ocupará todo el ancho disponible en pantallas pequeñas */
    margin-bottom: 20px; /* Espacio abajo de la imagen */
  }
  p {
    max-width: 100%; /* El texto ocupará todo el ancho disponible */
  }
}
.header {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  box-shadow: #5f5f5f 0px 0px 10px 0px;
  background-image: url("../img/IMG_PNG/1.PaginaInicio/1.ImagenHeroe/heroImage-3000X2000.jpg");
}
@supports (background-image: url("../img/IMG_AVIF/1.PaginaInicio/1.ImagenHeroe/heroImage-3000x2000.avif")) {
  .header {
    background-image: url("../img/IMG_AVIF/1.PaginaInicio/1.ImagenHeroe/heroImage-3000x2000.avif");
  }
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: inherit;
  z-index: -1;
}
@supports (background-image: url("../img/IMG_WEBP/1.PaginaInicio/1.ImagenHeroe/heroImage-3000X2000.webp")) {
  .header::before {
    background-image: url("../img/IMG_WEBP/1.PaginaInicio/1.ImagenHeroe/heroImage-3000X2000.webp");
  }
}
.header h1 {
  font-family: "Merriweather";
  font-size: 4rem;
  line-height: 1.2;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  left: 5%;
  margin: 0;
  letter-spacing: 0.1rem;
}
.header h1 span {
  display: block;
}
.header h1 span:nth-child(2) {
  position: relative;
  left: 5rem;
}
@media (max-width: 768px) {
  .header {
    height: 400px;
  }
  .header h1 {
    font-size: 2.5rem;
    top: 40%;
    letter-spacing: 0.05rem;
    width: 90%;
  }
  .header h1 span:nth-child(2) {
    left: 0;
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .header {
    height: 350px;
  }
  .header h1 {
    font-size: 2rem;
    top: 45%;
    left: 5%;
    letter-spacing: 0.03rem;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #7b5836;
  color: white;
  box-shadow: #5f5f5f 0px 0px 10px 0px;
}
.footer .texto-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}
.footer .texto-footer p {
  font-family: "Merriweather";
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 5px 0;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.footer .texto-footer p:hover {
  color: #a7c796;
}
.footer .texto-footer p:first-child {
  font-size: 1.2rem;
}
.footer .redesSociales {
  display: flex;
  gap: 15px;
}
.footer .redesSociales img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}
.footer .redesSociales img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 20px;
  }
  .texto-footer {
    align-items: center;
    text-align: center;
  }
  .redesSociales {
    justify-content: center;
    gap: 10px;
  }
  .redesSociales img {
    width: 35px;
    height: 35px;
  }
  .texto-footer p {
    font-size: 1rem;
  }
}
.reseña {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px;
}
.reseña img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: #5f5f5f 0px 0px 10px 0px;
  transition: transform 0.3s;
}
.reseña img:hover {
  transform: scale(1.1);
}
.reseña .textoConEstrellas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 60%;
  align-items: center;
  text-align: center;
}
.reseña .textoConEstrellas p {
  font-family: "QuickSand";
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: none;
  text-align: center;
  margin-bottom: 10px;
}
.reseña .textoConEstrellas .estrellas {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.reseña .textoConEstrellas .estrellas i {
  color: #D69F4D;
  font-size: 24px;
  transition: transform 0.3s ease;
}
.reseña .textoConEstrellas .estrellas i:hover {
  transform: scale(1.1);
  color: #a7c796;
}

@media (max-width: 768px) {
  .reseña {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
  }
  .reseña img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
  }
  .textoConEstrellas {
    max-width: 100%;
    text-align: center;
  }
  .estrellas {
    margin-top: 15px;
    justify-content: center;
  }
}
nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-top: 2rem;
}
nav .nav-links {
  font-family: "Nunito";
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.8rem;
}
nav .nav-links li {
  transition: transform 0.5s ease-in-out;
}
nav .nav-links li:hover {
  transform: scale(1.1);
}
nav .nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: color 0.3s ease-in-out;
}
nav .nav-links li a:hover {
  color: #D69F4D;
}
@media (max-width: 768px) {
  nav {
    top: 0.5rem;
    right: 0.5rem;
    margin-top: 1rem;
  }
  nav .nav-links {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }
  nav .nav-links li:hover {
    transform: scale(1.05);
  }
}
@media (max-width: 480px) {
  nav {
    top: 0.5rem;
    right: 0.5rem;
    left: 0.5rem;
    margin-top: 1rem;
  }
  nav .nav-links {
    flex-direction: row;
    gap: 0.8rem;
    justify-content: center;
  }
  nav .nav-links li:hover {
    transform: scale(1.05);
  }
  nav .nav-links li a {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
