
@media (max-width: 768px) {
    .reseña {
        flex-direction: column; 
        text-align: center;
    }

    img {
        max-width: 100%; 
        margin-bottom: 20px; 
    }

    p {
        max-width: 100%; 
    }
}