@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuickSand';
    src: url('../fonts/Quicksand/static/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
}
.header{
    position: relative;
    background-image: url('../img/IMG_AVIF/1.PaginaInicio/1.ImagenHeroe/heroImage-3000x2000.avif');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    box-shadow: black 0px 0px 10px;
    h1{
        font-family: 'Merriweather', sans-serif;
        position: absolute;
        top: 30%;
        left: 5%;
        font-size: 4rem;
        margin: 0;
        text-transform: uppercase;
        letter-spacing:0.1rem;

        span{
            display: block;
        }    
        span:nth-child(2){
            position: relative;
            left: 5rem;
        }
        
    }
    nav{
        position: absolute;
        top: 1rem;
        right: 1rem;
        margin-top: 2rem;

        .nav-links{
            font-family: 'Nunito', sans-serif;
            list-style: none;
            padding: 0;
            display: flex;
            gap: 0.8rem;

            li{
                a{
                    color:#fff;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    letter-spacing:0.1em;
                    transition: color 0.3s;

                    &:hover{
                        color: #d69f4d;
                    }
                }
            }
        }
    }
    
}
.main{
    padding: 2rem;

    .nosotros{
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    h3{
        display:flex;
        font-family: 'Merriweather', sans-serif;
        font-size: 2rem;
        margin-top: 0.6rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing:0.1rem;
        text-align: center;
        align-items: center;
        gap: 10px;

        .imgNosotros{
            width: 40px;
            height: 40px;
        }
    }
    p{
        font-family: 'QuickSand', sans-serif;
        font-size: 1.1rem;
        line-height: 1.5;
        margin-bottom: 1rem;
        text-align: center;
        margin-left: 3rem;
        margin-right: 3rem;;
    }
    .galeria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 1rem;

        h3{
            grid-column: 1 / -1;
            text-align: center;
            margin-bottom: 1rem;
        }
        figure{
            margin:0;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            &:nth-child(6){
                grid-column: 1 / -1;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s;

                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
    .map{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        iframe{
            width: 100%;
            max-width: 600px;
            height: 450px;
            border: 0;
            box-shadow: 0 10px 30px rgb(0,0,0,0.3);
        }
    }
    .lineaHorizontal{
        width: 100%;
        height: 5px;
        background-color: #a7c796;
        border: #a7c796;
    }
}

.reseña{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;

    img{
        max-width: 50%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: #5f5f5f 0px 0px 10px;
    }
    .textoConEstrellas{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 60%;
        align-items: center;
        text-align: center;

        p{
            font-family: 'QuickSand', sans-serif;
            font-size: 1.2rem;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 10px;
        }

        .estrellas{
            display: flex;
            gap: 5px;
            margin-top: 10px;
    
            i{
                color: #D69F4D;
                font-size: 24px;
            }
        }
    }
 
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #7b5836;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    .texto-footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        p{
            font-family: 'Merriweather', 'sans-serif';
            font-size: 1rem;
            margin: 5px 0;

            &:first-child{
                font-size: 1.2rem;
            }
        }
    }
    .redesSociales{
        display: flex;
        gap: 15px;

        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

@media (max-width: 768px) {
    .reseña {
        flex-direction: column; /* Apila los elementos en columna en pantallas pequeñas */
        text-align: center; /* Centra el texto cuando los elementos están apilados */
    }

    img {
        max-width: 100%; /* La imagen ocupará todo el ancho disponible en pantallas pequeñas */
        margin-bottom: 20px; /* Espacio abajo de la imagen */
    }

    p {
        max-width: 100%; /* El texto ocupará todo el ancho disponible */
    }
}

