@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: $marron;
    color: white;
    @include box-shadow(#5f5f5f, 0px, 0px, 10px, 0px);

    .texto-footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;

        p{
            @include fuentes('Merriweather', 1rem, 1.5, uppercase);
            margin: 5px 0;
            color: white;
            text-decoration: underline;
            cursor: pointer;

            &:hover{
                color: $verde;
            }

            &:first-child{
                font-size: 1.2rem;
            }
        }
    }
    .redesSociales{
        display: flex;
        gap: 15px;
        

        img{
            width: 40px;
            height: 40px;
            transition: transform 0.3s;

            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
@media (max-width: 768px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center; 
        text-align: center;
        padding: 15px;
        gap: 10px; 
    }

    .texto-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .redesSociales {
        display: flex;
        gap: 5px;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
        }
    }
}


