@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../../sass/mediaQueries' as *;

// Defino un conjunto de reglas base para los fondos
%background-cover {
    background-size: cover;
    background-position: center;
    background-image: url('../img/IMG_PNG/1.PaginaInicio/1.ImagenHeroe/heroImage-1024x683px.jpg');
}


.header{
    @extend %background-cover;
    height: 600px;
    color: $blanco;
    @include box-shadow(#5f5f5f, 0px, 0px, 10px, 0px);

    background-image: url('../img/IMG_PNG/1.PaginaInicio/1.ImagenHeroe/heroImage-1024x683px.jpg');

    @supports(background-image: url('../img/IMG_AVIF/1.PaginaInicio/1.ImagenHeroe/heroImage-1024x683.avif')){
        background-image: url('../img/IMG_AVIF/1.PaginaInicio/1.ImagenHeroe/heroImage-1024x683.avif');
    }

    &::before{
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: inherit; // Toma la imagen de fondo de .header
        z-index: -1; // Asegura que esté detrás del contenido

        @supports(background-image: url('../img/IMG_WEBP/1.PaginaInicio/1.ImagenHeroe/heroImage-1024x683.webp')) {
            background-image: url('../img/IMG_WEBP/1.PaginaInicio/1.ImagenHeroe/heroImage-1024x683.webp');
        }
    }

    @media (min-width: 1024px) {
        background-image: url('..img/IMG_PNG/1. PaginaInicio/1.ImagenHeroe/heroImage-1600x1067px.jpg');
        
        @supports(background-image: url('../img/IMG_AVIF/1.PaginaInicio/1.ImagenHeroe/heroImage-1600x1067.avif')) {
            background-image: url('../img/IMG_AVIF/1.PaginaInicio/1.ImagenHeroe/heroImage-1600x1067.avif');
        }

        @supports(background-image: url('../img/IMG_WEBP/1.PaginaInicio/1.ImagenHeroe/heroImage-1600x1067.webp')) {
            background-image: url('../img/IMG_WEBP/1.PaginaInicio/1.ImagenHeroe/heroImage-1600x1067.webp');
        }
    }

    // Media query para pantallas de 2000px y mayores
    @media (min-width: 2000px) {
        background-image: url('../img/IMG_PNG/1.PaginaInicio/1.ImagenHeroe/heroImage-3000x2000.jpg');
        
        @supports(background-image: url('../img/IMG_AVIF/1.PaginaInicio/1.ImagenHeroe/heroImage-3000x2000.avif')) {
            background-image: url('../img/IMG_AVIF/1.PaginaInicio/1.ImagenHeroe/heroImage-3000x2000.avif');
        }
        
        @supports(background-image: url('../img/IMG_WEBP/1.PaginaInicio/1.ImagenHeroe/heroImage-3000x2000.webp')) {
            background-image: url('../img/IMG_WEBP/1.PaginaInicio/1.ImagenHeroe/heroImage-3000x2000.webp');
        }
    }

    
    h1{
        @include fuentes('Merriweather', 4rem, 1.2, uppercase);
        position: absolute;
        top: 30%;
        left: 5%;
        margin: 0;
        letter-spacing:0.1rem;

        strong{
            display: block;
        }    
        strong:nth-child(2){
            position: relative;
            left: 5rem;
        }
        
    }

        // Media query tablet
        @media (max-width: 768px) {
            height: 400px + 20px // Reducir la altura del header en pantallas pequeñas
    
            h1 {
                font-size: 2.5rem; // Reducir el tamaño de la fuente
                top: 30%; // Ajustar la posición del título
                letter-spacing: 0.05rem; // Reducir el espaciado entre letras
                width: 90%; // Asegurarse de que el título no sobresalga
    
                span:nth-child(2) {
                    left: 0; // Alinear el segundo span con el primero en pantallas pequeñas
                    font-size: 2.5rem; // Reducir tamaño del segundo span
                }
            }
        }
    
        // Media query para móviles
        @media (max-width: 480px) {
            height: 350px - 50px;// Reducir aún más la altura en pantallas pequeñas
    
            h1 {
                font-size: 2rem; // Reducir aún más el tamaño de la fuente
                top: 45%; // Ajustar la posición
                left: 5%; // Ajustar el margen izquierdo
                letter-spacing: 0.03rem; // Reducir aún más el espaciado de las letras
            }
        }
    
}

.header-other {
    height: 150px;
    background-color: $marron;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blanco;
    text-align: center;
    position: relative; // Necesario para posicionar elementos hijos con absolute
    @include box-shadow(#5f5f5f, 0px, 0px, 10px, 0px);

    h1 {
        @include fuentes('Merriweather', 2.5rem, 1.2, uppercase);
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%); // Centra verticalmente
        margin: 0;
        letter-spacing: 0.1rem;
        color: $blanco;

        strong {
            display: block;

        }

        strong:nth-child(2) {
            position: relative;
            left: 5rem;
        }

        strong a {
            text-decoration: none;
            color: $blanco;
        }
    }
}

// Media query para tablet
@media (max-width: 768px) {
    .header-other {
        height: 180px;

        h1 {
            font-size: 2.5rem;
        }
    }
}

// Media query para móviles
@media (max-width: 480px) {
    .header-other {
        height: 150px;

        h1 {
            font-size: 2rem;
        }
    }
}


