@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../../sass/mediaQueries' as *;

.header{
    position: relative;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $blanco;
    text-align: center;
    @include box-shadow(#5f5f5f, 0px, 0px, 10px, 0px);

    background-image: url('../img/IMG_PNG/1.PaginaInicio/1.ImagenHeroe/heroImage-3000X2000.jpg');

    @supports(background-image: url('../img/IMG_AVIF/1.PaginaInicio/1.ImagenHeroe/heroImage-3000x2000.avif')){
        background-image: url('../img/IMG_AVIF/1.PaginaInicio/1.ImagenHeroe/heroImage-3000x2000.avif');
    }

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: inherit; // Toma la imagen de fondo de .header
        z-index: -1; // Asegura que esté detrás del contenido

        @supports(background-image: url('../img/IMG_WEBP/1.PaginaInicio/1.ImagenHeroe/heroImage-3000X2000.webp')) {
            background-image: url('../img/IMG_WEBP/1.PaginaInicio/1.ImagenHeroe/heroImage-3000X2000.webp');
        }
    }
    

    h1{
        @include fuentes('Merriweather', 4rem, 1.2, uppercase);
        position: absolute;
        top: 30%;
        left: 5%;
        margin: 0;
        letter-spacing:0.1rem;

        span{
            display: block;
        }    
        span:nth-child(2){
            position: relative;
            left: 5rem;
        }
        
    }

        // Media query tablet
        @media (max-width: 768px) {
            height: 400px; // Reducir la altura del header en pantallas pequeñas
    
            h1 {
                font-size: 2.5rem; // Reducir el tamaño de la fuente
                top: 40%; // Ajustar la posición del título
                letter-spacing: 0.05rem; // Reducir el espaciado entre letras
                width: 90%; // Asegurarse de que el título no sobresalga
    
                span:nth-child(2) {
                    left: 0; // Alinear el segundo span con el primero en pantallas pequeñas
                    font-size: 2.5rem; // Reducir tamaño del segundo span
                }
            }
        }
    
        // Media query para móviles
        @media (max-width: 480px) {
            height: 350px; // Reducir aún más la altura en pantallas pequeñas
    
            h1 {
                font-size: 2rem; // Reducir aún más el tamaño de la fuente
                top: 45%; // Ajustar la posición
                left: 5%; // Ajustar el margen izquierdo
                letter-spacing: 0.03rem; // Reducir aún más el espaciado de las letras
            }
        }
    
}