@use '../utils/variables' as *;

.header{
    position: relative;
    background-image: url('../img/IMG_AVIF/1.PaginaInicio/1.ImagenHeroe/heroImage-3000x2000.avif');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $blanco;
    text-align: center;
    box-shadow: black 0px 0px 10px;

    h1{
        font-family: 'Merriweather', sans-serif;
        position: absolute;
        top: 30%;
        left: 5%;
        font-size: 4rem;
        margin: 0;
        text-transform: uppercase;
        letter-spacing:0.1rem;

        span{
            display: block;
        }    
        span:nth-child(2){
            position: relative;
            left: 5rem;
        }
        
    }
    
}